tags
*.so
*.a
*.d
*.o
*.pem
*.srl
*.patch
server/priskv-server
server/priskv-memfile
server/test/test-*
client/priskv-client
client/priskv-benchmark
client/priskv-example
client/valkey-benchmark
cluster/client/example
cluster/client/priskv-cluster-*
lib/test/test-*
output/
output_*/
debian/changelog
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/priskv-server*
debian/priskv-client*
debian/priskv-pyclient*
pypriskv/build/
pypriskv/dist/
pypriskv/priskv.egg-info/
pypriskv/priskv/*.so
include/priskv-version.h
pypriskv/priskv/__pycache__/
pypriskv/**/__pycache__/
**/__pycache__/
*.pyc
man/priskv-server.1
.vscode/
tmp/
.cache/
compile_commands.json